In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
#load the raw data file
df = pd.read_excel("WDIEXCEL.xlsx", sheet_name = "Data")

In [23]:
#sample the data
df.sample(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
70243,Albania,ALB,"Primary education, teachers (% female)",SE.PRM.TCHR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.280818e+01,8.317775e+01,8.359931e+01,8.383448e+01,8.434628e+01,8.466606e+01,8.473776e+01,8.493263e+01,8.533442e+01,NaN
217114,"Korea, Dem. People’s Rep.",PRK,"Prevalence of wasting, weight for height, male...",SH.STA.WAST.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334608,Sudan,SDN,Gross domestic savings (current LCU),NY.GDS.TOTL.CN,54500.000000,63400.000000,73300.00000,58900.000000,52700.000000,52900.000000,...,4.329314e+10,4.607212e+10,6.905713e+10,1.061477e+11,1.207241e+11,1.187160e+11,1.716050e+11,2.117658e+11,2.502925e+11,NaN
185859,Guinea-Bissau,GNB,Average precipitation in depth (mm per year),AG.LND.PRCP.MM,NaN,NaN,1577.00000,NaN,NaN,NaN,...,NaN,1.577000e+03,NaN,1.577000e+03,NaN,NaN,NaN,NaN,NaN,NaN
35456,Least developed countries: UN classification,LDC,"Net official flows from UN agencies, UNFPA (cu...",DT.NFL.UNFP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.297700e+08,1.371124e+08,1.421752e+08,1.383686e+08,1.322401e+08,1.122468e+08,9.352793e+07,9.155759e+07,NaN,NaN
334211,Sudan,SDN,Broad money to total reserves ratio,FM.LBL.BMNY.IR.ZS,0.685554,0.888952,1.09577,2.773331,3.316925,4.108319,...,6.970159e+01,6.611410e+01,5.797863e+01,5.901665e+01,6.900103e+01,6.244869e+01,6.306497e+01,NaN,NaN,NaN
121494,Central African Republic,CAF,Gross fixed capital formation (current LCU),NE.GDI.FTOT.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.541060e+11,1.380190e+11,5.305000e+10,1.979300e+11,2.062610e+11,2.257950e+11,2.916620e+11,3.085870e+11,2.909195e+11,NaN
129657,Comoros,COM,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66918,World,WLD,"Labor force participation rate, total (% of to...",SL.TLF.ACTI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.716407e+01,6.698844e+01,6.680116e+01,6.664003e+01,6.655838e+01,6.648364e+01,6.648285e+01,6.645574e+01,6.638872e+01,66.304134
127857,China,CHN,"Progression to secondary school, female (%)",SE.SEC.PROG.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56166,Small states,SST,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259871,Morocco,MAR,"Labor force participation rate, female (% of f...",SL.TLF.CACT.FE.NE.ZS,8.790000,NaN,NaN,NaN,NaN,NaN,...,2.548000e+01,2.474000e+01,2.512000e+01,2.524000e+01,2.479000e+01,2.372000e+01,NaN,NaN,NaN,NaN
302623,Samoa,WSM,"Compulsory education, duration (years)",SE.COM.DURS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,NaN
219210,Kosovo,XKX,"Educational attainment, at least completed pos...",SE.SEC.CUAT.PO.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152270,"Egypt, Arab Rep.",EGY,Poverty headcount ratio at $1.90 a day (2011 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.500000e+00,NaN,NaN,1.600000e+00,NaN,3.800000e+00,NaN,NaN,NaN
96200,Belize,BLZ,"Pupil-teacher ratio, secondary",SE.SEC.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.631748e+01,1.652241e+01,1.738091e+01,NaN,1.630319e+01,1.840628e+01,1.655810e+01,1.672317e+01,NaN,NaN
168987,Gabon,GAB,GNI: linked series (current LCU),NY.GNP.MKTP.CN.AD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.403893e+12,7.891654e+12,7.848545e+12,8.520400e+12,7.797325e+12,7.665280e+12,8.120908e+12,8.751044e+12,9.088144e+12,NaN
11681,Europe & Central Asia,ECS,"Children in employment, self-employed (% of ch...",SL.SLF.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226654,Lebanon,LBN,"Human capital index (HCI), lower bound (scale ...",HD.HCI.OVRL.LB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.250000e-01,5.142527e-01,NaN,0.504967
372335,Vietnam,VNM,Net barter terms of trade index (2000 = 100),TT.PRI.MRCH.XD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.298846e+02,1.296240e+02,1.296240e+02,1.298770e+02,1.310160e+02,1.329740e+02,1.308461e+02,1.283084e+02,NaN,NaN

In [24]:
#check to confirm there are no missing values in the indicator code column
#because we will filter countries based on this code
df.isnull().sum()

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
1960              342527
                   ...
2016              172632
2017              188422
2018              207180
2019              271505
2020              366138
Length: 65, dtype: int64

These are the variable of interest that could have an impact on life expectancy.

#Birth rate, crude (per 1,000 people)	SP.DYN.CBRT.IN
#Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)	SH.DTH.COMM.ZS
#Cause of death, by non-communicable diseases (% of total)	SH.DTH.NCOM.ZS
#Current health expenditure (% of GDP)	SH.XPD.CHEX.GD.ZS
#Death rate, crude (per 1,000 people)	SP.DYN.CDRT.IN
#Fertility rate, total (births per woman)	SP.DYN.TFRT.IN
#Hospital beds (per 1,000 people)	SH.MED.BEDS.ZS
#Immunization, DPT (% of children ages 12-23 months)	SH.IMM.IDPT
#Immunization, HepB3 (% of one-year-old children)	SH.IMM.HEPB
#Immunization, measles (% of children ages 12-23 months)	SH.IMM.MEAS
#Incidence of HIV, all (per 1,000 uninfected population)	SH.HIV.INCD.TL.P3
#Incidence of tuberculosis (per 100,000 people)	SH.TBS.INCD
#Intentional homicides (per 100,000 people)	VC.IHR.PSRC.P5
#Life expectancy at birth, total (years)	SP.DYN.LE00.IN
#Mortality caused by road traffic injury (per 100,000 people)	SH.STA.TRAF.P5
#Physicians (per 1,000 people)	SH.MED.PHYS.ZS
#Population density (people per sq. km of land area)	EN.POP.DNST
#Prevalence of overweight, weight for height (% of children under 5)	SH.STA.OWGH.ZS
#Smoking prevalence, total (ages 15+)	SH.PRV.SMOK
#Suicide mortality rate (per 100,000 population)	SH.STA.SUIC.P5
#Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)	SH.ALC.PCAP.LI

In [25]:
#drop all date columns except 2018 because we have data till 2018 only although 2019 and 2020 columns also exist
#there are no data for 2019 and 2020
df_2018 = df.drop(columns=['1960', '1961', '1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972', '1973', '1974', '1975','1976', '1977','1978', '1979','1980', '1981','1982', '2019', '2020'])

"Country Name" column seems to have grouped region names in addition to country names. So, lets remove all the rows which have broader region in the dataset.

In [26]:
df_2018.shape

(380160, 40)

In [27]:
df_2018.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1983,1984,1985,1986,1987,1988,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.809630,82.368101,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,84.270921,86.959991,87.199474,87.512260,88.129881,87.275323,88.720097,89.308602,90.283638,89.286856
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,70.506461,75.816160,75.958878,77.251714,78.165706,75.512153,78.211000,79.065508,81.102134,79.248100
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95.065438,96.290866,96.466418,96.435957,96.772853,96.466705,96.936319,97.290083,97.467915,97.063959
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.260538,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN

In [28]:
#check whether the "Country Name" column has only countries name.
df_2018["Country Name"].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [29]:
#create a list with all the row values that needs to be removed. We are removing the rows that have data about regions of
#the world because we are only interested in countries
row_values_to_remove = ['Arab World', 
'Caribbean small states',                        
'Central Europe and the Baltics', 
'East Asia & Pacific (excluding high income)',
'Early-demographic dividend', 'East Asia & Pacific',
'Europe & Central Asia (excluding high income)',
'Europe & Central Asia','Euro area',
'European Union', 'Fragile and conflict affected situations',
'High income', 
'Heavily indebted poor countries (HIPC)', 
'IBRD only', 'IDA & IBRD total', 'IDA total',
'IDA blend', 'IDA only', 
'Not classified', 
'Latin America & Caribbean (excluding high income)',
'Latin America & Caribbean',
'Least developed countries: UN classification', 'Low income',
'Lower middle income',
'Low & middle income', 'Late-demographic dividend',
'Middle East & North Africa',
'Middle East & North Africa (excluding high income)', 
'North America', 
'OECD members',
'Other small states', 
'Pre-demographic dividend',
'West Bank and Gaza', 'Pacific island small states',
'South Asia',
'Sub-Saharan Africa (excluding high income)', 
'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
'East Asia & Pacific (IDA & IBRD countries)',
'Europe & Central Asia (IDA & IBRD countries)', 
'Latin America & the Caribbean (IDA & IBRD countries)',
'Middle East & North Africa (IDA & IBRD countries)',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa (IDA & IBRD countries)', 
'Upper middle income']

In [30]:
#create a for loop to iterate over the length of the list and remove rows with each value from list in each iteratation
for i in range(len(row_values_to_remove)):
    df_2018 = df_2018[df_2018["Country Name"] != row_values_to_remove[i]]

In [31]:
df_2018.shape

(313920, 40)

In [32]:
df_2018.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1983,1984,1985,1986,1987,1988,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
44640,Middle income,MIC,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,49.910055,50.969163,51.823360,52.726853,53.620460,54.377912,55.116218,55.873792,NaN,NaN
44641,Middle income,MIC,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,84.440735,85.185685,83.861522,87.029842,87.420190,88.117307,89.602320,90.805687,91.866787,92.802279
44642,Middle income,MIC,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,74.828766,75.174306,72.252407,77.818497,78.322205,79.058975,81.786036,83.713277,85.396189,87.221490
44643,Middle income,MIC,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.759187,96.702970,96.820774,97.177708,97.184018,97.225950,97.346635,97.972897,98.308204,98.306550
44644,Middle income,MIC,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,43.443604,NaN,NaN,57.535599,NaN,NaN,65.312920,NaN

In [33]:
#df['mean'] = df.iloc[:, 0:4].mean(axis=1)
df_2018['mean'] = df_2018.iloc[:, 4:].mean(skipna = True, axis =1)

In [34]:
df_2018.shape

(313920, 41)

In [35]:
df_2018.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,mean
44640,Middle income,MIC,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,50.969163,51.823360,52.726853,53.620460,54.377912,55.116218,55.873792,NaN,NaN,48.940668
44641,Middle income,MIC,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.185685,83.861522,87.029842,87.420190,88.117307,89.602320,90.805687,91.866787,92.802279,84.353860
44642,Middle income,MIC,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.174306,72.252407,77.818497,78.322205,79.058975,81.786036,83.713277,85.396189,87.221490,74.562609
44643,Middle income,MIC,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.702970,96.820774,97.177708,97.184018,97.225950,97.346635,97.972897,98.308204,98.306550,96.362885
44644,Middle income,MIC,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,43.443604,NaN,NaN,57.535599,NaN,NaN,65.312920,NaN,55.430707

In [36]:
#drop all columns except Indicator name and mean values
#df.drop(list(df)[2:5], axis=1)
df_2018 = df_2018.drop(list(df_2018)[0:3], axis = 1)

In [37]:
df_2018.head()

,Indicator Code,1983,1984,1985,1986,1987,1988,1989,1990,1991,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,mean
44640,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.969163,51.823360,52.726853,53.620460,54.377912,55.116218,55.873792,NaN,NaN,48.940668
44641,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.185685,83.861522,87.029842,87.420190,88.117307,89.602320,90.805687,91.866787,92.802279,84.353860
44642,EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75.174306,72.252407,77.818497,78.322205,79.058975,81.786036,83.713277,85.396189,87.221490,74.562609
44643,EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.702970,96.820774,97.177708,97.184018,97.225950,97.346635,97.972897,98.308204,98.306550,96.362885
44644,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,43.443604,NaN,NaN,57.535599,NaN,NaN,65.312920,NaN,55.430707

In [38]:
df_2018.shape

(313920, 38)

In [39]:
df_2018 = df_2018.drop(list(df_2018)[1:37], axis = 1)

In [40]:
df_2018.head(5)

          Indicator Code       mean
44640     EG.CFT.ACCS.ZS  48.940668
44641     EG.ELC.ACCS.ZS  84.353860
44642  EG.ELC.ACCS.RU.ZS  74.562609
44643  EG.ELC.ACCS.UR.ZS  96.362885
44644     FX.OWN.TOTL.ZS  55.430707

In [41]:
df_2018.shape

(313920, 2)

In [43]:
#extract values of variables of interest into separate series 
crude_birth_rate = df_2018.loc[df_2018['Indicator Code'] == 'SP.DYN.CBRT.IN','mean'].reset_index(drop = True)
death_comm_disease = df_2018.loc[df_2018['Indicator Code'] == 'SH.DTH.COMM.ZS','mean'].reset_index(drop = True)
death_noncomm_disease = df_2018.loc[df_2018['Indicator Code'] == 'SH.DTH.NCOM.ZS','mean'].reset_index(drop = True)
health_expenditure = df_2018.loc[df_2018['Indicator Code'] == 'SH.XPD.CHEX.GD.ZS','mean'].reset_index(drop = True)
crude_death_rate = df_2018.loc[df_2018['Indicator Code'] == 'SP.DYN.CDRT.IN','mean'].reset_index(drop = True)
fertility_rate = df_2018.loc[df_2018['Indicator Code'] == 'SP.DYN.TFRT.IN','mean'].reset_index(drop = True)
hospital_bed = df_2018.loc[df_2018['Indicator Code'] == 'SH.MED.BEDS.ZS','mean'].reset_index(drop = True)
DPT_immu = df_2018.loc[df_2018['Indicator Code'] == 'SH.IMM.IDPT','mean'].reset_index(drop = True)
HepB3_immu = df_2018.loc[df_2018['Indicator Code'] == 'SH.IMM.HEPB','mean'].reset_index(drop = True)
measles_immu = df_2018.loc[df_2018['Indicator Code'] == 'SH.IMM.MEAS','mean'].reset_index(drop = True)
HIV_incidence = df_2018.loc[df_2018['Indicator Code'] == 'SH.HIV.INCD.TL.P3','mean'].reset_index(drop = True)
TB_incidence = df_2018.loc[df_2018['Indicator Code'] == 'SH.TBS.INCD','mean'].reset_index(drop = True)
homicides_per100000 = df_2018.loc[df_2018['Indicator Code'] == 'VC.IHR.PSRC.P5','mean'].reset_index(drop = True)
life_expectancy = df_2018.loc[df_2018['Indicator Code'] == 'SP.DYN.LE00.IN','mean'].reset_index(drop = True)
road_traffic_mortality = df_2018.loc[df_2018['Indicator Code'] == 'SH.STA.TRAF.P5','mean'].reset_index(drop = True)
physicians_per1000_people = df_2018.loc[df_2018['Indicator Code'] == 'SH.MED.PHYS.ZS','mean'].reset_index(drop = True)
population_density = df_2018.loc[df_2018['Indicator Code'] == 'EN.POP.DNST','mean'].reset_index(drop = True)
overweight_prevalence = df_2018.loc[df_2018['Indicator Code'] == 'SH.STA.OWGH.ZS','mean'].reset_index(drop = True)
smoking_prevalence = df_2018.loc[df_2018['Indicator Code'] == 'SH.PRV.SMOK','mean'].reset_index(drop = True)
suicide_per1000000 = df_2018.loc[df_2018['Indicator Code'] == 'SH.STA.SUIC.P5','mean'].reset_index(drop = True)
alcohol_consumption_per_capita = df_2018.loc[df_2018['Indicator Code'] == 'SH.ALC.PCAP.LI','mean'].reset_index(drop = True)

In [44]:
#reassign each variable into a series so we can use them to create our dataframe
crude_birth_rate = pd.Series(crude_birth_rate)
death_comm_disease = pd.Series(death_comm_disease)
death_noncomm_disease = pd.Series(death_noncomm_disease)
health_expenditure = pd.Series(health_expenditure)
crude_death_rate = pd.Series(crude_death_rate)
fertility_rate = pd.Series(fertility_rate)
hospital_bed = pd.Series(hospital_bed)
DPT_immu = pd.Series(DPT_immu)
HepB3_immu = pd.Series(HepB3_immu)
measles_immu = pd.Series(measles_immu)
HIV_incidence = pd.Series(HIV_incidence)
TB_incidence = pd.Series(TB_incidence)
homicides_per100000 = pd.Series(homicides_per100000)
life_expectancy = pd.Series(life_expectancy)
road_traffic_mortality = pd.Series(road_traffic_mortality)
physicians_per1000_people = pd.Series(physicians_per1000_people)
population_density = pd.Series(population_density)
overweight_prevalence = pd.Series(overweight_prevalence)
smoking_prevalence = pd.Series(smoking_prevalence)
suicide_per1000000 = pd.Series(suicide_per1000000)
alcohol_consumption_per_capita = pd.Series(alcohol_consumption_per_capita)

In [45]:
#verify each series is same length
crude_birth_rate.shape,death_comm_disease.shape,health_expenditure.shape,crude_death_rate.shape,fertility_rate.shape,hospital_bed.shape,DPT_immu.shape, HepB3_immu.shape,measles_immu.shape,HIV_incidence.shape,TB_incidence.shape,homicides_per100000.shape,life_expectancy.shape,road_traffic_mortality.shape, physicians_per1000_people.shape,population_density.shape,overweight_prevalence.shape,smoking_prevalence.shape,suicide_per1000000.shape,alcohol_consumption_per_capita.shape

((218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,),
 (218,))

In [46]:
#create a variable to store all variables to create a dataframe
frame = {'Crude_birth_rate':crude_birth_rate, 
         'Death_comm_disease':death_comm_disease,  
         'Death_noncomm_disease':death_noncomm_disease,
         'Health_expenditure':health_expenditure,
         'Crude_death_rate':crude_death_rate,
         'Fertility_rate':fertility_rate,
         'Hospital_bed':hospital_bed,  
         'DPT_immu':DPT_immu,  
         'HepB3_immu':HepB3_immu,  
         'Measles_immu':measles_immu,
         'HIV_incidence':HIV_incidence,  
         'TB_incidence':TB_incidence,  
         'Homicides_per100000':homicides_per100000,  
         'Life_expectancy':life_expectancy,  
         'Road_traffic_mortality':road_traffic_mortality,  
         'Physicians_per1000_people':physicians_per1000_people,  
         'Population_density':population_density,  
         'Overweight_prevalence':overweight_prevalence,  
         'Smoking_prevalence':smoking_prevalence,  
         'Suicide_per1000000':suicide_per1000000,  
         'Alcohol_consumption_per_capita':alcohol_consumption_per_capita
        }

In [47]:
#create the dataframe
result = pd.DataFrame(frame).reset_index(drop = True)

In [48]:
#check the dataframe
result.head(10)

,Crude_birth_rate,Death_comm_disease,Death_noncomm_disease,Health_expenditure,Crude_death_rate,Fertility_rate,Hospital_bed,DPT_immu,HepB3_immu,Measles_immu,...,TB_incidence,Homicides_per100000,Life_expectancy,Road_traffic_mortality,Physicians_per1000_people,Population_density,Overweight_prevalence,Smoking_prevalence,Suicide_per1000000,Alcohol_consumption_per_capita
0,23.121256,24.044739,66.791261,5.091871,8.194539,2.861601,2.535885,73.253847,74.505322,74.192327,...,177.157895,6.066667,66.801882,18.888738,1.157813,58.032949,5.753846,22.107752,11.459531,5.803673
1,11.854447,6.297173,88.067905,11.439419,9.123033,1.653865,6.477148,91.871139,85.098229,88.024549,...,NaN,2.133333,77.548180,7.519247,2.789725,32.470175,NaN,27.339052,15.819962,10.124687
2,22.383797,23.963126,67.307581,9.400137,8.559036,2.831325,3.244981,73.110659,75.197420,72.868729,...,156.526316,6.512147,67.995788,17.779256,1.357511,48.239116,5.269231,22.630512,11.613697,6.371288
3,44.612306,47.150000,39.175000,9.684495,11.779111,6.764611,0.403272,40.333333,65.000000,40.750000,...,189.052632,5.912825,55.812556,15.300000,0.202200,34.076443,5.125000,NaN,5.320000,0.200000
4,17.783806,4.100000,90.550000,NaN,6.403139,2.280306,3.410560,96.694444,97.360000,93.888889,...,18.315789,7.007821,74.286556,14.350000,1.319781,110.788087,20.800000,30.744444,6.460000,7.700000
5,26.450750,16.650000,72.775000,4.838878,5.495250,3.550111,2.248037,88.529412,90.800000,86.029412,...,74.210526,1.109717,70.753389,23.800000,1.103231,13.139957,12.833333,15.511111,3.520000,0.800000
6,18.600000,NaN,NaN,NaN,4.433333,NaN,NaN,NaN,NaN,NaN,...,6.884211,6.087003,NaN,NaN,0.776500,263.926250,NaN,NaN,NaN,NaN
7,10.903571,NaN,NaN,9.350076,3.490000,1.226000,2.905455,96.636364,88.681818,96.181818,...,9.921053,0.369804,NaN,7.600000,2.939167,143.250118,NaN,34.677778,NaN,11.350000
8,47.491528,67.550000,23.950000,2.996014,15.870000,6.638417,1.045650,36.500000,51.333333,47.750000,...,359.736842,4.601430,49.901222,25.250000,0.094700,14.384626,2.550000,NaN,6.100000,7.700000
9,18.073611,12.800000,80.600000,4.962953,6.426556,2.079639,3.067800,97.833333,97.555556,92.694444,...,5.036842,8.220261,73.748389,7.300000,1.329756,174.082765,NaN,NaN,0.960000,6.550000

In [ ]:
result.head(5)

There seems to be a few columns with no data at all. Drop those columns from the  "result" dataframe.

In [ ]:
#drop empty columns
#result = result.drop(columns=['Death_comm_disease', 'Death_noncomm_disease','Health_expenditure','Hospital_bed','Road_traffic_mortality','Smoking_prevalence', 'Suicide_per1000000','Alcohol_consumption_per_capita'])

In [ ]:
#verify new data frame
result.head()

There are still columns with NaN values. Lets impute those values with mean of respective columns.

In [49]:
result['Crude_birth_rate'] = result['Crude_birth_rate'].fillna((result['Crude_birth_rate'].mean()))
result['Crude_death_rate'] = result['Crude_death_rate'].fillna((result['Crude_death_rate'].mean()))
result['Fertility_rate'] = result['Fertility_rate'].fillna((result['Fertility_rate'].mean()))
result['DPT_immu'] = result['DPT_immu'].fillna((result['DPT_immu'].mean()))
result['HepB3_immu'] = result['HepB3_immu'].fillna((result['HepB3_immu'].mean()))
result['Measles_immu'] = result['Measles_immu'].fillna((result['Measles_immu'].mean()))
result['HIV_incidence'] = result['HIV_incidence'].fillna((result['HIV_incidence'].mean()))
result['TB_incidence'] = result['TB_incidence'].fillna((result['TB_incidence'].mean()))
result['Homicides_per100000'] = result['Homicides_per100000'].fillna((result['Homicides_per100000'].mean()))
result['Life_expectancy'] = result['Life_expectancy'].fillna((result['Life_expectancy'].mean()))
result['Physicians_per1000_people'] = result['Physicians_per1000_people'].fillna((result['Physicians_per1000_people'].mean()))
result['Population_density'] = result['Population_density'].fillna((result['Population_density'].mean()))
result['Overweight_prevalence'] = result['Overweight_prevalence'].fillna((result['Overweight_prevalence'].mean()))

In [50]:
result.head()

,Crude_birth_rate,Death_comm_disease,Death_noncomm_disease,Health_expenditure,Crude_death_rate,Fertility_rate,Hospital_bed,DPT_immu,HepB3_immu,Measles_immu,...,TB_incidence,Homicides_per100000,Life_expectancy,Road_traffic_mortality,Physicians_per1000_people,Population_density,Overweight_prevalence,Smoking_prevalence,Suicide_per1000000,Alcohol_consumption_per_capita
0,23.121256,24.044739,66.791261,5.091871,8.194539,2.861601,2.535885,73.253847,74.505322,74.192327,...,177.157895,6.066667,66.801882,18.888738,1.157813,58.032949,5.753846,22.107752,11.459531,5.803673
1,11.854447,6.297173,88.067905,11.439419,9.123033,1.653865,6.477148,91.871139,85.098229,88.024549,...,129.420463,2.133333,77.548180,7.519247,2.789725,32.470175,7.174237,27.339052,15.819962,10.124687
2,22.383797,23.963126,67.307581,9.400137,8.559036,2.831325,3.244981,73.110659,75.197420,72.868729,...,156.526316,6.512147,67.995788,17.779256,1.357511,48.239116,5.269231,22.630512,11.613697,6.371288
3,44.612306,47.150000,39.175000,9.684495,11.779111,6.764611,0.403272,40.333333,65.000000,40.750000,...,189.052632,5.912825,55.812556,15.300000,0.202200,34.076443,5.125000,NaN,5.320000,0.200000
4,17.783806,4.100000,90.550000,NaN,6.403139,2.280306,3.410560,96.694444,97.360000,93.888889,...,18.315789,7.007821,74.286556,14.350000,1.319781,110.788087,20.800000,30.744444,6.460000,7.700000

In [51]:
result.isna().sum()

Crude_birth_rate                   0
Death_comm_disease                33
Death_noncomm_disease             33
Health_expenditure                28
Crude_death_rate                   0
Fertility_rate                     0
Hospital_bed                      19
DPT_immu                           0
HepB3_immu                         0
Measles_immu                       0
HIV_incidence                      0
TB_incidence                       0
Homicides_per100000                0
Life_expectancy                    0
Road_traffic_mortality            27
Physicians_per1000_people          0
Population_density                 0
Overweight_prevalence              0
Smoking_prevalence                69
Suicide_per1000000                33
Alcohol_consumption_per_capita    29
dtype: int64

In [52]:
#save the cleaned dataframe for EDA
result.to_csv("demographics_data.csv")